
/* Basic CSS for container and boxes */
        #container {
            display: grid;
            grid-template-columns: repeat(5, 0fr);
             /* 5 columns layout */
             justify-content: center;
    
        }

        .box {
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: bold;
            color: white;
        }

        /* Color styles for different number types */
        .even {
            background-color: green;
        }

        .odd {
            background-color: yellow;
            color: black; /* Ensure the text is readable on yellow */
        }

        .prime {
            background-color: red;
        }